.notfound {
    height: 700px;
    background-color: #202020;
}
.notfound__header {
    font-weight: 400;
    font-size: 140px;
    width: 400px;
    margin: 0 auto;
    padding-top: 246px;
    text-align: center;
}
.notfound__caption {
    font-weight: 400;
    font-size: 16px;
    width: 400px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}
.notfound__button {
    font-weight: 400;
    font-size: 14px;
    width: fit-content;
    color: #4285f4;
    margin: 184px auto 0;
    padding: 0;
    background-color: inherit;
    border: none;
    display: block;
}
@media screen and (max-width: 768px) {
    .notfound {
        height: 1024px;
    }
    .notfound__header {
        padding-top: 408px;
        width: 52%;
        min-width: 320px;
    }
    .notfound__caption {
        width: 52%;
        min-width: 320px;
    }
}
@media screen and (max-width: 320px) {
    .notfound {
        height: 780px;
    }
    .notfound__header {
        padding-top: 329px;
        font-size: 80px;
        width: 300px;
    }
    .notfound__caption {
        font-size: 12px;
        padding-top: 10px;
        width: 300px;
    }
    .notfound__button {
        font-size: 12px;
        margin-top: 284px;
    }
}