.techs {
    background-color: #272727;
    height: 625px;
}

.techs__header {
    margin: 0;
    padding: 100px 0 0 70px;
    font-weight: 400;
    font-size: 22px;
}

.techs__line {
    width: 89%;
    height: 1px;
    background-color: #dadada;
    margin: 23px auto 90px;
}

.techs__subheader {
    margin: 0 auto 26px;
    text-align: center;
    width: 600px;
    font-weight: 400;
    font-size: 50px;
}

.techs__text {
    width: 460px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
}

.techs__container {
    display: flex;
    width: fit-content;
    margin: 100px auto;
    gap: 10px;
}

.techs__tech-box {
    width: 90px;
    height: 60px;
    background-color: #303030;
    border-radius: 10px;
}

.techs__tech-text {
    width: fit-content;
    margin: 25% auto;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
@media screen and (max-width: 800px) {
    .techs {
        height: 567px;
    }
    .techs__header {
        padding: 90px 0 0 50px;
    }
    .techs__line {
        width: 86.9%;
        margin: 23px auto 80px;
    }
    .techs__subheader {
        margin: 0 auto 22px;
        width: 78%;
        font-size: 50px;
    }
    .techs__text {
        width: 65.1%;
        font-size: 12px;
        line-height: 18px;
    }
    .techs__container {
        margin: 83px 60px 90px;
        flex-wrap: wrap;
    }
    .techs__tech-box {
        width: 84px;
        height: 57px;
    }
    .techs__tech-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .techs {
        height: 651px;
    }
    .techs__header {
        padding: 70px 0 0 18px;
    }
    .techs__line {
        width: 91%;
        margin: 28px auto 60px;
    }
    .techs__subheader {
        margin: 0 auto 24px;
        width: 292px;
        font-size: 30px;
    }
    .techs__text {
        width: 292px;
        font-size: 11px;
        line-height: 16px;
    }
    .techs__container {
        margin: 50px 71px 70px;
        justify-content: center;
    }
}