.promo {
    background-color: #202020;
    padding: 20px 40px 0;
}

.promo__container {
    background-color: #272727;
    border-radius: 10px;
}

.promo__text {
    margin: auto;
    padding-top: 160px;
    width: 730px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: calc(50px / -25);
    text-align: center;
}

.promo__link {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

.promo__menu {
    margin: auto;
    padding-top: 151px;
    padding-bottom: 30px;
    width: fit-content;
}

.promo__button-unit:hover {
    opacity: .8;
    cursor: pointer;
}

.promo__buttons {
    all: unset;
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.promo__button-unit {
    width: 96px;
    max-height: 36px;
    background-color: #303030;
    border: none;
    border-radius: 10px;

    display: inline;
}

@media screen and (max-width: 800px) {
    .promo {
        padding: 20px 20px 0;
    }

    .promo__text {
        padding-top: 350px;
        max-width: 680px;
        width: 93.4%;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: calc(40px / -25);
    }

    .promo__menu {
        padding-top: 314px;
    }
}

@media screen and (max-width: 450px) {
    .promo {
        padding: 14px 14px 0;
    }

    .promo__text {
        padding-top: 220px;
        width: 292px;
        font-size: 29px;
        line-height: 37px;
        letter-spacing: calc(29px / -25);
    }

    .promo__menu {
        padding-top: 212px;
        padding-bottom: 17px;
        gap: 6px;
    }

    .promo__button {
        width: 82px;
        font-size: 10px;
        line-height: 16px;
    }
}