.promo {
    background-color: #202020;
    padding: 20px 40px 0;
}

.promo__container {
    height: 493px;
    background-color: #272727;
    border-radius: 10px;
}

.promo__text {
    margin: auto;
    padding-top: 160px;
    width: 730px;
    height: 116px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
}

.promo__menu {
    margin: auto;
    padding-top: 161px;
    width: fit-content;
    display: flex;
    gap: 10px;
}

.promo__button {
    width: 96px;
    height: 36px;
    background-color: #303030;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.promo__button:hover {
    opacity: .8;
}
@media screen and (max-width: 800px) {
    .promo {
        padding: 20px 20px 0;
    }
    .promo__container {
        height: 834px;
    }
    .promo__text {
        padding-top: 350px;
        max-width: 680px;
        width: 93.4%;
        height: 104px;
        font-size: 40px;
        line-height: 52px;
    }
    .promo__menu {
        padding-top: 314px;
    }
}

@media screen and (max-width: 450px) {
    .promo {
        padding: 14px 14px 0;
    }
    .promo__container {
        height: 586px;
    }
    .promo__text {
        padding-top: 220px;
        width: 292px;
        height: 111px;
        font-size: 29px;
        line-height: 37px;
    }
    .promo__menu {
        padding-top: 212px;
    }
    .promo__button {
        width: 82px;
        height: 26px;
        font-size: 10px;
        line-height: 16px;
    }
}